.reg-con{
    height: 120%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.register-box{
    height: 70%;
    width: 60%;
    background-color: white;
    border-radius: 10px;
}

.form-header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120%;
    font-family: font3;
    height: 13%;
    background-color: rgb(240, 240, 240);
    border-bottom: thin solid rgb(179, 179, 179);
    border-radius: 8px;
}

.form-group{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 12%;
    
}

.username{
    position: relative;
    left: 31%;
    width: 42%;
    height: 60%;
    border-radius: 8px;
    border: 0.5px solid rgb(185, 185, 185);
    font-size: 120%;
    text-indent: 1%;
    
}

.email{
    position: relative;
    left: 31%;
    width: 42%;
    height: 60%;
    border-radius: 8px;
    border: 0.5px solid rgb(185, 185, 185);
    font-size: 120%;
    text-indent: 1%;
    
}

.password{
    position: relative;
    left: 31%;
    width: 42%;
    height: 60%;
    border-radius: 8px;
    border: 0.5px solid rgb(185, 185, 185);
    font-size: 120%;
    text-indent: 1%;
    
}

.btn-con{
    display: flex;
    align-items: center;
    width: 100%;
    height: 12%;
    
}

.button2{
    position: relative;
    left: 28%;
    height: 8%;
    width: 48%;
    font-size: 120%;
    color: white;
    background-color: orangered;
    border: none;
    border-radius: 8px;
    margin-top: 2%;
}

.button2:hover{
    background-color: white;
    color: orangered;
    transition: 0.2s ease-in-out;
    border: rgb(212, 212, 212) 0.5px solid;
    cursor: pointer;
}


.btn-txt2{
    background-color: orangered;
    color: white;
    border: none;
    font-size: 100%;
    font-weight: bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 4%;
    text-decoration: none;
    border-radius: 10px;
}

.btn-txt2:hover{
    background-color: white;
    color: orangered;
    transition: 0.2s ease-in-out;
    border: rgb(212, 212, 212) 0.5px solid;
    cursor: pointer;
}



.btn-txt3{
    position: relative;
    background-color: orangered;
    color: white;
    border: none;
    font-size: 140%;
    font-weight: bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 1.5%;
    text-decoration: none;
    left: 40%;
    border-radius: 10px;
}

.btn-txt3:hover{
    background-color: white;
    color: orangered;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    border: rgb(212, 212, 212) 0.5px solid;
}

.login-link{
    display: flex;
    justify-content: center;
    color: orangered;
}

.side-nav{
    margin-top: 5%;
    height: 100%;
    width: 15%;
    float: left;
    background-color: orangered;
    position: relative;
}


.side-list{
    color: white;
    text-decoration: none;
    font-size: 150%;
    list-style: none;
    
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.list-con{
    border-bottom: white solid 0.5px;
    border-top: white solid 0.5px;
    padding-top: 8%;
    height: 8%;
    width: 100%;
    background-color: orangered;
}

.profile-head{
    width: 100%;
    height: 11%;
    background-color: orangered;
    position: relative;
    text-align: center;
    color: white;
    font-size: 180%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}