<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        
        <link rel="stylesheet" href="login.css">
    </head>
    <body style="background-color: orangered;">

        <div class="reg-con">
            <div class="register-box">
                <div class="form-header">
                    <h2>Login</h2>
                </div>
                
                <form action="/login" th:action="@{/login}" th:object="${user}" method="post">
                <div class="form-group">
                    
                    <input th:field="*{username}" type="text" name="username" class = "username" value="" placeholder="Username">
                </div>
                
                
                <div class="form-group">
                    
                    <input th:field="*{password}" type="password" name="password" class = "email" value="" placeholder="Password">
                </div>
    
                
                    <button type="submit" class="button2" value="login">Login</button>
                
                
                </form>
    
                
                <a href="/" class="login-link">Don't have an Account? Register instead.</a>
                
                
            </div>
        </div>
        

    </body>
</html>